body {
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}

#login-panel {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#top-panel {
	width:            100%;
	position:         relative;
	top:              0;
	left:             0;
	background-color: #bbbbbb;
}

#top-panel-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

#user {
	margin-left: 1rem;
	font-family: monospace;
	font-size: 18px;
	color: seashell;
	background-color: #589558;
	padding: 0.5rem 2rem;
	border-radius: 19px;
	transition: opacity 500ms;
	opacity: 0;
}

#username, #password {
	font-size: 14px;
}

#find-user {
	padding: 1rem;
	position: relative;
	min-width: 750px;
}

#finduser {
	min-width: 350px;
	margin-right: 1rem;
}

div#container {
	display: flex;
	gap: 3rem;
	flex-direction: row;
	flex-wrap: wrap;
}

div#find-user > div.close {
	position: absolute;
	font-family: sans-serif;
	font-size: 15px;
	top: 1.5rem;
	left: calc(350px + 0.25rem);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	transition: transform 250ms;
}

div#user-details {
	display: none;
	font-family: monospace;
	font-size: 16px;
	padding: 1rem 0;
	margin-left: 4px;
	margin-top: 1.5rem;

}

div#user-details > div {
	display: grid;
	align-items: baseline;
	grid-template-columns: 180px 500px;
	margin-top: 0.35rem;
}

div#user-details > div span:nth-of-type(1) {
	color: black;
	font-weight: bold;
}

div#user-details > div span:nth-of-type(2) {
	color: #444;
	font-weight: normal;
	padding: 0 0.5rem;
}

div.spacer {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div#user-details > div#actions {
	display: flex;
	margin-top: 4rem;
	gap: 1rem;
}

span.alert {
	color: whitesmoke !important;
	background-color: crimson;
	width: fit-content;
	border-radius: 4px;
	margin-left: 0.5rem;
}

span.feature-standard {
	color: whitesmoke !important;
	background-color: steelblue;
	width: fit-content;
	border-radius: 4px;
	margin-left: 0.5rem;
}

span.feature-assessor {
	color: whitesmoke !important;
	background-color: darkcyan;
	width: fit-content;
	border-radius: 4px;
	margin-left: 0.5rem;
}

span.feature-student {
	color: whitesmoke !important;
	background-color: forestgreen;
	width: fit-content;
	border-radius: 4px;
	margin-left: 0.5rem;
}

span.feature-set {
	color: whitesmoke !important;
	background-color: forestgreen;
	width: fit-content;
	border-radius: 4px;
	margin-left: 0.5rem;
}

input,
select,
textarea {
	padding: 0.4rem;
	outline: none;
	border: 2px solid rgba(0,0,0,0.35);
	border-radius: 4px;
	font-size: 18px;
	font-family: monospace;
	min-width: 250px;
	min-height: calc(34px - 0.8rem);
}


select {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
	background-repeat: no-repeat;
	appearance: none;
	background-position: right;
	background-position-x: calc(100% - 0.4rem);
	cursor: pointer;
}

label {
	padding: 0.4rem;
	outline: none;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}

button {
	padding: 0.4rem 1.2rem;
	background-color: steelblue;
	color: whitesmoke;
	outline: none;
	border: 2px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 500ms, color 500ms, border 500ms;
	min-width: 85px;
	font-size: 18px;
	font-family: sans-serif;
}

button.alert {
	background-color: crimson;
}

button.warn {
	background-color: darkorange;
}

button.go {
	background-color: forestgreen;
}

button.clean {
	background-color: whitesmoke;
	color:black;
	/*border:2px solid rgba(0, 0, 0, 0.75);*/
}

button:hover {
	background-color: whitesmoke;
	color: steelblue;
	border: 2px solid rgb(68, 126, 172, 0.75);
}

button.alert:hover {
	color: crimson;
	border: 2px solid rgb(197, 21, 55, 0.75);
}

button.warn:hover {
	color: darkorange;
	border: 2px solid rgb(230, 135, 10, 0.75);
}

button.go:hover {
	color: forestgreen;
	border: 2px solid rgb(44, 134, 35, 0.75);
}

button.clean:hover {
	color: whitesmoke;
	background-color: black;
}

div#find-user > div.close:hover {
	transform: rotate(180deg);
}

div#licences.disabled,
div#find-user.disabled {
	pointer-events: none;
	opacity: 0.5;
}

div#licences > div#licence-gen {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1rem;
}

div#licences > div#licence-gen > div#lic-results > div#issued-licences > div#licence-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: monospace;
	font-size: 18px;
}

div.licence-grid {
	display:               grid;
	grid-template-columns: 150px 400px;
	align-items:           baseline;
	column-gap: 1.6rem;
}

textarea#licence-comment {
	min-height: 100px;
}

button#gen-licences {
	margin-top: 4rem;
	float: right;
}

dialog::backdrop {
	backdrop-filter: blur(4px) contrast(0.66);
}

dialog#confirm-action {
	width:            30%;
	border-radius:    8px;
	border:           none;
	font-size:        18px;
	font-family:      Arial, sans-serif;
	line-height:      1.4;
	background-color: #DDDDDD;
	user-select:      none;
	box-shadow:       0 5px 6px 3px rgba(0, 0, 0, 0.25), inset 0 0 0 2px rgba(0, 0, 0, 0.1);
	outline:          4px solid rgba(255, 255, 255, 1);
}

dialog #dialog-title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

dialog #dialog-prompt {
	margin-bottom: 5rem;
}

dialog div#dialog-buttons {
	background-color: rgba(0, 0, 0, 0.1);
	border-top: 1px solid silver;
	width: calc(100% + 3rem);
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin: -2rem;
	gap: 1rem;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

span#action-result {
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 0;
}

#gen-title {
	font-family: sans-serif;
	padding-bottom: 2rem;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5a5a5a;
}

#licence-checker {
	display:         flex;
	justify-content: flex-start;
	flex-direction:  row;
	align-items:     center;
	padding-bottom:  5rem;
	position:relative;
	
}
#licence-checker input#checklicence {
	min-width: 383px;
	margin-right: 1rem;
}

#licence-checker > div.close {
	position: absolute;
	font-family: sans-serif;
	font-size: 15px;
	left: calc(383px + -0.75rem);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	transition: transform 250ms;
}


